{{>navbar}}

{{#with 
  @shared.$route as $route, 
  {delay: 500} as fadeIn, 
  {duration: 200} as fadeOut 
}}
<div class="page">
  
{{#if $route.match('/login') }}
  <div class="auth-page" fade-in="fadeIn" fade-out="fadeOut">
    Login page
  </div>
{{elseif $route.match('/register') }}
  <div class="auth-page" fade-in="fadeIn" fade-out="fadeOut">
    Register page
  </div>
{{elseif $route.match('/profile/:username/:section?') }}
  <div class="profile-page" fade-in="fadeIn" fade-out="fadeOut">
    <profile 
      username="{{ $route.params.username }}" 
      section="{{ $route.params.section }}"
    />
  </div>
{{elseif $route.match('/') }}
  <div class="home-page" fade-in="fadeIn" fade-out="fadeOut">
    {{>homepage}}
  </div>
{{else}}
  <div class="notfound-page" fade-in="fadeIn" fade-out="fadeOut">
    {{>notfound}}
  </div>
{{/if}}

</div>
{{/with}}

{{>footer}}